* {
  background-color: black;
  font-family: 'Merriweather', serif;  
  color: white;
}

header {
  text-align: center;
  font-size: 50px;
  padding: 100px;

}
.drinksContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, 250px);
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
}
.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  max-width: 250px;
}
.cardImage {
  align-items: center;
  display: flex;
  /* justify-content: center; */
  max-width: 100%;
  border: 1px solid red;
  
  /* width: 100%;
  height: 100%; */
}
.drinkLinks {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
  font-style: italic;
}
.cardImage img {
  width: 100%;
  height: 100%;
}